---
title: دیوار نوشته صدیقه
permalink: /sedigheh/divar.html
layout: default
---

<script>
	// change selected menu item to Doa
	set_selected_menu("start-divar")
</script>

<div>
	<div class="align-center">        
		{% include comment-new.html %}
	</div>
	<div class="align-center" style="margin-top: 70px;">
		<div class="align-center" style="margin-bottom: 20px; border-bottom: 2px solid black; width: 400px;">
			دل نوشته های پیشین
		</div>
		<div>
			{% include comments.html %}
		</div>
	</div>
<div>		
