<h1 class="form-title">
	ثبت دل نوشته
</h1>
<div class = "center fa-text" style="width: 300px;">
	<form method="GET" class="contact-form" id="comment-form" action="http://sedigh.zamanian.net/makePRForZamanianOrg.php">	
        <input name="redirect" type="hidden" value="http://www.zamanian.org/sedigheh/thanks-for-comment.html">
        <input name="options[slug]" type="hidden" value="{{ page.slug }}">
        <input name="key" type="hidden" value="1234">
        
		<div class="form-field">
            <!-- placeholder is needed to check if the field is empty or not -->
			<input placeholder=" " name="name" id="name" class="inputf user-text" autocomplete="off" type="text">
			<label class="label" for="name">
				ننام (اختیاری)
			</label>
		</div>

		<div class="form-field">
			<textarea placeholder=" " name="message" id="message" class="textf user-text" rows="4" cols="50" autocomplete="off"></textarea>
			<label class="label" for="message">
				پیام
			</label>	  
		</div>
		<div class="form-field center" style="align-items: center; justify-content: center; display: flex;">
		    <button type="submit" class="submit-btn">
				برای ثبت، اینجا را کلیک کن
				<br/>
				(و چند ثانیه منتظر واستا)
		    </button>
		</div>
	</form>

</div>
