.form-title {
	text-align: center;
	font-size: 22px;
	line-height: 38px;
}

.contact-form .form-field {
	text-align: right;
	direction: rtl;	
	position: relative;
	margin: 32px 0;
}
.contact-form .user-text {
	display: block;
	width: 100%;
	border-width: 1px 1px 2px 1px;
	border-color: #000;
	font-size: 18px;
	line-height: 26px;
	font-weight: 400;
}

.inputf {
	height: 36px;
}
.textf {
	height: 100px;
}

.contact-form .user-text:focus {
	/* no boxes drawn around the selected field */
/*	outline: none;*/
}
.contact-form .inputf:focus + .label, .contact-form .inputf:not(:placeholder-shown) + .label {
	/* when a field is selected, it's label is moving upward */
	transform: translateY(-30px);
}
.contact-form .textf:focus + .label, .contact-form .textf:not(:placeholder-shown) + .label {
	/* when a field is selected, it's label is moving upward */
	transform: translateY(-90px);
}

.contact-form .label {
	position: absolute;
	direction: rtl;
	display: inline-block;
	text-align: right;
	bottom: 4px;
	font-size: 16px;
	color: #888;
	cursor: text;
	transition: transform 0.2s ease-in-out;
}

.label {
	padding-right: 5px;
	
}

.contact-form .submit-btn {
	display: inline-block;
	background-color: #30457c;
	color: #fff;
	font-size: 16px;
	padding: 8px 16px;
	border: none;
	cursor: pointer;
}

.submit-btn {
	border-radius: 30px;
}