@font-face {
	font-family: iran-sans;
	src: url(/assets/fonts/iran-sans.ttf)
}


* {
	font-family: iran-sans,Tahoma,sans-serif,Arial;
}

#page {
	margin: 0 auto;
	max-width: 700px;
	padding: 0rem 0;
}

#content {
	margin-top: 40px; /* some space between menu and content */ 
	margin-bottom: 30px; /*footbar */
}

.img-circle {
	border-radius: 50%;
}

.center {
	margin: auto;
	width: 100%;
	max-width: 400px;
	text-align: center;
}

.profile-pic {
	display: block;
}

#footer {
	position: fixed;
	bottom: 0;
	width: 100%;
}

.fa-text {
	direction: rtl;
}

/* for divs where I want to show a message to user */
div.info-message {
    background-color: #4c8b36;
    color: aliceblue;
    border-radius: 25px;
    padding: 10px;
}

.button {
	display: inline-block;
	margin: 0;
	padding: 0.75rem 1rem;
	border: 0;
	border-radius: 0.317rem;
	background-color: #1fa3ec;
	color: #fff;
	text-decoration: none;
	font-weight: 700;
	cursor: pointer;
	-webkit-appearance: none;
	-webkit-font-smoothing: antialiased;
}


/* Top Menu */
nav.topmenu {
	margin: 0 auto;
	position: relative;
	width: 400px;
	height: 50px;
	background-color: #535960; /* original: #34495e */
	border-radius: 8px;
	font-size: 0;
}
nav.topmenu a {
	line-height: 50px;
	height: 100%;
	font-size: 17px;
	display: inline-block;
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-align: center;
	color: white;
	cursor: pointer;
}
nav.topmenu .animation {
	position: absolute;
	height: 100%;
	top: 0;
	z-index: 0;
	transition: all .5s ease 0s;
	border-radius: 8px;
}
.topmenu a:nth-child(1) {
	width: 100px;
}
.topmenu a:nth-child(2) {
	width: 100px;
}
.topmenu a:nth-child(3) {
	width: 100px;
}
.topmenu a:nth-child(4) {
	width: 100px;
}
nav.topmenu .start-home, a:nth-child(1):hover~.animation {
	width: 100px;
	right: 0;
	background-color: #b2b0b1; /* #1abc9c; */
}
nav.topmenu .start-divar, a:nth-child(2):hover~.animation {
	width: 100px;
	right: 100px;
	background-color: #b2b0b1; /* #e74c3c; */
}
nav.topmenu .start-doa, a:nth-child(3):hover~.animation {
	width: 100px;
	right: 200px;
	background-color: #b2b0b1; /* #3498db; */
}
nav.topmenu .start-gallery, a:nth-child(4):hover~.animation {
	width: 100px;
	right: 300px;
	background-color: #b2b0b1; /* #9b59b6; */
}
