<!DOCTYPE html> 
<html lang="fa-IR">
<head>
    <title> {{ page.title }}</title>
	<meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0"/>
	<link rel="stylesheet" type="text/css" media="all" href="/assets/css/style.css">
	<link rel="stylesheet" type="text/css" media="all" href="/assets/css/bootstrap.min.css">
	<script type="text/javascript" src="/assets/js/persian-date.min.js"></script>
	<script type="text/javascript" src="/assets/js/jquery-3.6.0.min.js"></script>

	<script>
		function set_selected_menu(selected_class_name) {
			elem = document.getElementById('selected-menu');
			elem.className = ''; // remove all classes
			elem.classList.add("animation")
			elem.classList.add(selected_class_name)			
		}
	</script>
</head>
<body>
	<section id="page">
		<div>
			{% include menu.html %}
		</div>
		<section id="content">
			{{ content }}
		</section>
	</section>
</body>
</html>