<!DOCTYPE html> 
<html lang="fa-IR">
<head>
    <title> {{ page.title }}</title>
	<meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0"/>
	<link rel="stylesheet" type="text/css" media="all" href="/assets/css/style.css">
	<link rel="stylesheet" type="text/css" media="all" href="/assets/css/form.css">
	
	<script>
		function set_selected_menu(selected_class_name) {
			elem = document.getElementById('selected-menu');
			elem.className = ''; // remove all classes
			elem.classList.add("animation")
			elem.classList.add(selected_class_name)			
		}
	</script>
</head>
<body>
	<div>
		{{ content }}
	</div>
	<div id="footer">
		{% include menu.html %}
	</div>
	
	<script>
		// change selected menu item to Doa
		set_selected_menu("start-home")
	</script>
</body>

</html>